*{
	/*border: 1px dotted red;*/
}

#container{
	width: 900px;
	/*border: 1px dotted black;*/
}

#header{
	background-color: maroon;
	height: 70px;
}

#header_logo{
	display: inline-block;
	/*border: 1px dotted blue;*/
	width:290px;
	height:70px;
}

#header_text{
	/*border: 1px dotted green;*/
	width:290px;
	height:70px;
	display: inline-block;
	vertical-align: top;
}

#header_text p{
	color: white;
	font-family: Consolas, monaco, monospace;
	/*font-family: Monaco, Consolas, "Lucida Console", monospace;*/
	margin-top: 25px;
}

#header_search{
	/*border: 1px dotted red;*/
	width: 290px;
	height:70px;
	display: inline-block;
	vertical-align: top;
}

#text_size_line{
	/*border: 1px dotted green;*/
}

#user_options_list{
	/*border: 1px dotted blue;*/
	display: inline-block;
	font-size: .8em;
}

#user_options_list, #user_options_list li{
	/*border: 1px dotted pink;*/
	display: inline-block;
	vertical-align: top;
}

#user_options_list{
	margin-top: 2px;
}

.user_options_buttons{
	/*border: 1px dotted blue;*/
	/*display: inline-block;*/
}

.user_options_buttons a{
	color: goldenrod;
}

#user_options_list, span{
	color: white;
}

.top_right_input{
	/*border: 1px white;*/
	margin-left: 80px;
}



#task_bar{
	background-color: lightgray;
	/*border: 1px dotted green;*/
	height: 30px;
	position: relative;
	bottom: 6px;
}

#task_bar ul{
	/*รง;*/
	padding-top: 4px;
	margin-top: 2px;
}


#task_bar ul li{
	display: inline-block;
	font-size: .8em;
	font-weight: bold;
	/*border: 1px dotted blue;*/
}

#task_bar ul li a{
	color: black;
	text-decoration: none;
}

#sidebar{
/*	border: 1px dotted blue;*/
	display: inline-block;
	background-color: lightgray;
	position: relative;
	margin: 20px;
	top: 30px;
	height: 250px;
	width: 150px;
}

#sidebar ul{
	padding-right: 20px;
}


#sidebar ul li{
	list-style-type: square; /*how do i make this into ">>"*/
}

#sidebar ul li a{
	color: maroon;
	font-size: .8em;
}


#main_content{
	/*border:1px dotted black;*/
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 20px;
	top: 30px;
	width: 650px;
}


#main_content h4, #main_content h5{
	color: maroon;
}

.table_of_contents{
	color: maroon;
}

#tier_two{
	color: maroon;
}

#numbered_list{
	list-style-type: decimal;
}

#main_content p{
	font-size: .8em;
}

#main_content li{
	font-size: .8em;
}
